<div class="codedog" id="codedog<%=codedogCnt%>">
  <div class="codedog-nav">
    <button class="btn-new-page">新页面打开</button>
  </div>
  <div class="codedog-main">
    <div id="editor<%=codedogCnt%>" class="codedog-editor"></div>
    <div class="result">
      <iframe class="preview" frameborder=0></iframe>
    </div>
  </div>
</div>
<script>
  let editor<%=codedogCnt%> = ace.edit("editor<%=codedogCnt%>")
  editor<%=codedogCnt%>.$blockScrolling = 1
  editor<%=codedogCnt%>.setTheme("ace/theme/monokai")
  editor<%=codedogCnt%>.getSession().setMode("ace/mode/html")
  editor<%=codedogCnt%>.getSession().setTabSize(2)
  editor<%=codedogCnt%>.getSession().setValue(`<%-code%>`)

  let iframe<%=codedogCnt%> = document.querySelector("#codedog<%=codedogCnt%> .preview");
  iframe<%=codedogCnt%>.srcdoc = `<%-code%>` + '<style>body{margin:0; padding:0;}</style>'

  editor<%=codedogCnt%>.getSession().on('change', () => {
    iframe<%=codedogCnt%>.srcdoc = editor<%=codedogCnt%>.getValue() + '<style>body{margin:0; padding:0;}</style>'
  })
</script>